.centrado{
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}
.titulo{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.indicadores{
  padding-top: 70px;
  padding-bottom: 70px;
}
table{
  width: 100%;
}
td{
  height: 100px;
  border-width: 1px;
  border-style: solid;
}
.selected_on{
  background-color: black;
}
.selected_off{
  background-color: white;
}
.invisible{
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  cursor: default;
  text-align: center;
}
.scb{
  height: 35%;
}
.scbtd{
  height: 10%;
  border-width: 1px;
  border-style: solid;
}
